In [0]:
# Importing pandas library with alias name pd
import pandas as pd

In [0]:
# Defining columns
column_names = ['Applicant Id', 'Applicant Name', 'Test Date', 
                'Mathematics Score', 'Physics Score', 'Chemistry Score']
 
# Defining lists of test records
testRecord1 = list([1001,'James', '2020-02-01', 70, 62, 81])
testRecord2 = list([1002,'Pritam', '2020-04-07', 86, 61, 73])
testRecord3 = list([1003,'Pritha', '2020-02-01', 86, 67, 68])
testRecord4 = list([1004,'David', '2020-05-15', 55, 82, 62])
testRecord5 = list([1005,'Kaushik', '2020-05-15', 76, 84, 57])
testRecord6 = list([1006,'Somnath', '2020-05-26', 80, 84, 49])
testRecord7 = list([1007,'Peter', '2020-06-03', 79, 73, 63])

# Defining a DataFrame from multiple Serieses
data_frame = pd.DataFrame([testRecord1, testRecord2, testRecord3, testRecord4, 
                           testRecord5, testRecord6, testRecord7], 
                          columns=column_names)

In [0]:
# Seeing data types of the columns
data_frame.dtypes

In [0]:
# Transforming object format to datetime format
data_frame['Test Date'] = pd.to_datetime(data_frame['Test Date'], format = '%Y-%m-%d')

data_frame.dtypes

In [0]:
# Filtering data
filtered_data_frame = data_frame[(data_frame['Test Date'] >= '2020-05-01') & (data_frame['Test Date'] < '2020-06-30')]

filtered_data_frame

In [0]:
# Calculating avarage score
filtered_data_frame['Average Score'] = (filtered_data_frame['Mathematics Score'] + filtered_data_frame['Physics Score'] + filtered_data_frame['Chemistry Score']) / 3

filtered_data_frame