In [2]:
#
# required libraries
#
import pandas as pd
#

In [27]:
#
# read a Series from a csv file
#
fname = 'Datasets/test_series.csv'
my_series = pd.read_csv(fname, squeeze = True, index_col = 0)
my_series
#

0      2.589993
1      1.610310
2      2.242005
3      2.108133
4      2.817890
         ...
360    1.260330
361    2.130278
362    1.708712
363    3.558430
364    2.554064
Name: data, Length: 365, dtype: float64

In [28]:
type(my_series)

pandas.core.series.Series

In [40]:
#
# create a 2nd series as the squares of my_series
#
new_series = my_series ** 2
new_series
#

0       6.708065
1       2.593098
2       5.026587
3       4.444226
4       7.940505
         ...
360     1.588432
361     4.538082
362     2.919696
363    12.662423
364     6.523244
Name: data, Length: 365, dtype: float64

In [41]:
#
# construct a DataFrame using the DataFrame() constructor
#
my_data_frame = pd.DataFrame({'col1' : my_series,
                             'col2' : new_series})
my_data_frame.head()

       col1      col2
0  2.589993  6.708065
1  1.610310  2.593098
2  2.242005  5.026587
3  2.108133  4.444226
4  2.817890  7.940505

In [42]:
#
# we can also concatenate the series into a DataFrame
#
another_data_frame = pd.concat([my_series.rename('col1'), new_series.rename('col2')], axis = 1)
another_data_frame.head()

       col1      col2
0  2.589993  6.708065
1  1.610310  2.593098
2  2.242005  5.026587
3  2.108133  4.444226
4  2.817890  7.940505

In [39]:
#
# save my_data_frame
# index = None prevents writing the index values in the first column
#
my_data_frame.to_csv('Datasets/my_data_frame.csv', index = None)