In [1]:
#
# required libraries
#
import pandas as pd
#

In [3]:
#
# a little Jupyter trick here, so that we can 
# output multiple objects per cell without having to 
# use print() or display()
#
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
#
# read a Series from a csv file
#
fname = 'Datasets/US_GDP.csv'
my_data = pd.read_csv(fname)
my_data.head()
my_data.tail()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

          date      GDP
7   2018-12-31  20897.8
8   2019-03-31  21098.8
9   2019-06-30  21340.3
10  2019-09-30  21542.5
11  2019-12-31  21729.1

In [5]:
my_data.dtypes

date     object
GDP     float64
dtype: object

In [6]:
my_data['date'] = pd.to_datetime(my_data['date'])
my_data.set_index('date', inplace = True)
my_data.head()
my_data.tail()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

                GDP
date
2018-12-31  20897.8
2019-03-31  21098.8
2019-06-30  21340.3
2019-09-30  21542.5
2019-12-31  21729.1

In [8]:
my_data.to_csv('US_GDP_date_index.csv')