In [0]:
# Importing pandas library with alias name pd
import pandas as pd

In [0]:
# Defining columns
column_names = ['Applicant Id', 'Applicant Name', 'Test Date', 
                'Mathematics Score', 'Physics Score', 'Chemistry Score']
 
# Defining lists of test records
testRecord1 = list([1001,'James', '01-02-2020', 70, 62, 81])
testRecord2 = list([1002,'Pritam', '07-04-2020', 86, 61, 73])
testRecord3 = list([1003,'Pritha', '01-02-2020', 86, 67, 68])
testRecord4 = list([1004,'David', '15-05-2020', 55, 82, 62])
testRecord5 = list([1005,'Kaushik', '15-05-2020', 76, 84, 57])
testRecord6 = list([1006,'Somnath', '26-05-2020', 80, 84, 49])
testRecord7 = list([1007,'Peter', '03-06-2020', 79, 73, 63])

In [0]:
# Defining a DataFrame from multiple Serieses
data_frame = pd.DataFrame([testRecord1, testRecord2, testRecord3, testRecord4, 
                           testRecord5, testRecord6, testRecord7], 
                          columns=column_names)
 
# Showing the DataFrame
data_frame

In [0]:
# Seeing data types of the columns
data_frame.dtypes